package {{$.PackageName}}

// import "github.com/caarlos0/env"

//////////////////////////////////////////////////////////////////////////
// Constant and data type/structure definitions


/*{{- $prefix := .Prefix}}

Custom environment settings:
{{range .Options}}
- **{{$prefix}}
{{- if .EVar}}{{.EVar}}
{{- else}}{{clk2ss .Name}}
{{- end}}**: {{.Usage}} ({{.Type}}{{- if .Value}}="{{.Value}}"{{end}})
{{- end}}

*/

type envConfig struct { {{- range .Options}}
	{{.Name}}	{{.Type}}	`env:"{{$prefix}}
{{- if .EVar}}{{.EVar}}
{{- else}}{{clk2ss .Name}}
{{- end}}"
{{- if .Value}} envDefault:"{{.Value}}"{{end}}`	// {{.Usage}}
{{- end}}
}

////////////////////////////////////////////////////////////////////////////
// Global variables definitions

//  var (
//          progname  = "{{.Name}}"
//          version   = "0.1.0"
//          date = "{{ date "I" }}"

//          e envConfig
//  )
