{{- define "header" -}}
////////////////////////////////////////////////////////////////////////////
// Program: {{.Name}}
// Purpose: {{.Desc}}
// Authors: {{or .Authors "Author"}} (c) {{date "Y4"}}, All rights reserved
////////////////////////////////////////////////////////////////////////////
{{- end}}
