// {{.Name}} - {{.Desc}}
// 
// {{.Text}}

package {{$.PackageName}}

{{template "header" $ }}

import (
//  	"fmt"
//  	"os"

//  	"github.com/go-easygen/go-flags"
)

// Template for main starts here

//////////////////////////////////////////////////////////////////////////
// Constant and data type/structure definitions

////////////////////////////////////////////////////////////////////////////
// Global variables definitions

//  var (
//          progname  = "{{.Name}}"
//          version   = "0.1.0"
//          date = "{{ date "I" }}"

//  	// Opts store all the configurable options
//  	Opts OptsT
//  )
//  
//  var parser = flags.NewParser(&Opts, flags.Default)

////////////////////////////////////////////////////////////////////////////
// Function definitions

// Function main
//  func main() {
{{- if .Version }}
//  	Opts.Version = showVersion
{{- end }}
{{- if .Verbose }}
//  	Opts.Verbflg = func() {
//  		Opts.Verbose++
//  	}
{{- end }}
//  
//  	if _, err := parser.Parse(); err != nil {
//  		fmt.Println()
//  		parser.WriteHelp(os.Stdout)
//  		os.Exit(1)
//  	}
//  	fmt.Println()
//  	//Do{{stringsTitle .Name}}()
//  }
//  
{{- if .Version }}
//  func showVersion() {
//   	fmt.Fprintf(os.Stderr, "{{.Name}} - {{.Desc}}\n")
//   	fmt.Fprintf(os.Stderr, "Copyright (C) {{ date "Y4" }}, {{or $.Authors "The Author(s) <they@their.org>"}}\n\n")
//  	fmt.Fprintf(os.Stderr, "{{.Text}}\n\nBuilt on %s\nVersion %s\n", 
//  		date, version)
//  	os.Exit(0)
//  }
{{- end }}
// Template for main ends here

// Do{{stringsTitle .Name}} implements the business logic of command `{{.Name}}`
//  func Do{{stringsTitle .Name}}() error {
//  	return nil
//  }

// Template for type define starts here
{{template "type_struct" argsm "ProgramName" .ProgramName "Options" .Options "Verbose" .Verbose "Version" .Version "typeName" "OptsT" }}
// Template for type define ends here

{{range .Command}}
// Template for "{{.Name}}" CLI handling starts here
{{template "header" $ }}

//  package {{$.PackageName}}

//  import (
//  	"fmt"
//  	"os"
//
//  	"github.com/go-easygen/go-flags/clis"
//  )

// *** Sub-command: {{.Name}} ***

{{template "type_struct" argsm "ProgramName" $.ProgramName "Options" .Options "typeName" (print (stringsTitle .Name) "Command") }}

//  
//  var {{.Name}}Command {{stringsTitle .Name}}Command
//  
//  func init() {
//  	parser.AddCommand("{{.Name}}",
//  		"{{.Desc}}",
//  		"{{.Text}}",
//  		&{{.Name}}Command)
//  }
//
//  func (x *{{stringsTitle .Name}}Command) Execute(args []string) error {
//   	fmt.Fprintf(os.Stderr, "{{.Desc}}\n")
//   	// fmt.Fprintf(os.Stderr, "Copyright (C) {{ date "Y4" }}, {{or $.Authors "The Author(s) <they@their.org>"}}\n\n")
//   	clis.Setup("{{$.Name}}::{{.Name}}", Opts.Verbose)
//   	clis.Verbose(1, "Doing {{stringsTitle .Name}}, with %+v, %+v", Opts, args)
//   	{{$opts := .Options}}fmt.Println({{range $i, $opt := .Options}}x.{{$opt.Name}}{{if lt $i ($opts | len | minus1)}}, {{end}}{{end}})
//  	return x.Exec(args)
//  }
//  
// Exec implements the business logic of command `{{.Name}}`
// func (x *{{stringsTitle .Name}}Command) Exec(args []string) error {
// 	// err := ...
// 	// clis.WarnOn("{{stringsTitle .Name}}, Exec", err)
// 	// or,
// 	// clis.AbortOn("{{stringsTitle .Name}}, Exec", err)
// 	return nil
// }
// Template for "{{.Name}}" CLI handling ends here
{{end}}

